{% extends 'common.html' %}
 
{% block title %}公営企業の経営診断{% endblock %}

{% block content %}

%div.container-fluid
  %div.row
    %div.col-7(style="display:flex; align-items:center")
      %img.img-responsive(src="../static/image/top_icon.png" style="margin-left:5px;margin-right:20px")
      %h2.display-5(style="float:left; margin-right:15px; font-size:3.8rem")
        DiAna
      %h6.lead(style="float:left; margin-right:15px; font-weight:400")
        Diagnosis（診断） と Analysis（分析）のダイアナ。<br>
        公営企業を、<font>もっとおもしろく。</font>
        
    %div.col-4(style="display:flex; position:relative; top:5px")
      %h6
        %a.headerLink(data-bs-toggle="modal" data-bs-target="#modalSummary")
          公営企業って何？
      %span(style="padding-left:12px;padding-right:12px;")
        ｜
      %h6
        %a.headerLink(data-bs-toggle="modal" data-bs-target="#modalUse")
          企業を探す
      %span(style="padding-left:12px;padding-right:12px;")
        ｜
      %h6
        %a.headerLink(data-bs-toggle="modal" data-bs-target="#modalVersion")
          更新履歴
      %span(style="padding-left:12px;padding-right:12px;")
        ｜
      %h6
        %a.headerLink(data-bs-toggle="offcanvas" href="#offcanvasSetting" role="button" aria-controls="offcanvasSetting")
          設定

    %div.col-1
      %button.btn.btn-primary.btn-sm.float-end(type="button" data-bs-toggle="modal" data-bs-target="#modalExcelUpload" style="margin-top:10px")
        データ取込

  %div.row
    %div.col-8
      &nbsp;
    %div.col-4#areaSelectTarget(style="display:flex; align-items:center")
    
  %div.row
    %ul.nav.nav-tabs.mb-3#dataTab(role="tablist")
      %li.nav-item(role="presentation")
        %a.nav-link.active#home-tab(data-bs-toggle="tab" data-bs-target="#home-panel" type="button" role="tab" aria-controls="home" aria-selected="true")
          <i class="bi bi-clouds-fill" style="margin-right:5px"></i>ダイジェスト
      %li.nav-item(role="presentation")
        %a.nav-link#profile-tab(data-bs-toggle="tab" data-bs-target="#profile-panel" type="button" role="tab" aria-controls="profile" aria-selected="true")
          <i class="bi bi-grid-fill" style="margin-right:5px"></i>統計ヒストリー
      %li.nav-item(role="presentation")
        %a.nav-link#compare-tab(data-bs-toggle="tab" data-bs-target="#compare-panel" type="button" role="tab" aria-controls="compare" aria-selected="true")
          <i class="bi bi-images" style="margin-right:5px"></i>指標比較レーダー
      %li.nav-item(role="presentation")
        %a.nav-link#sokan-tab(data-bs-toggle="tab" data-bs-target="#sokan-panel" type="button" role="tab" aria-controls="sokan" aria-selected="true")
          <i class="bi bi-circle-square" style="margin-right:5px"></i>相関バブルチャート
      %li.nav-item(role="presentation")
        %a.nav-link#mix-tab(data-bs-toggle="tab" data-bs-target="#mix-panel" type="button" role="tab" aria-controls="mix" aria-selected="true")
          <i class="bi bi-people-fill" style="margin-right:5px"></i>人口動態ミックス
      %li.nav-item(role="presentation")
        %a.nav-link#report-tab(data-bs-toggle="tab" data-bs-target="#report-panel" type="button" role="tab" aria-controls="report" aria-selected="true")
          <i class="bi bi-layers-fill" style="margin-right:5px"></i>診断レポート

    %div.tab-content#dataTabContent
      %div.tab-pane.active.show#home-panel(role="tabpanel" aria-labelledby="home-tab")
            
        %div.container-fluid#topPain
          %div.row
            %div.col-2
              %button.btn.btn-sm.btn-warning#selectGyoshuDigestTab(data-bs-toggle="popover" title="" data-bs-original-title="業種を選択してください" style="width:100%")
                <i class="bi bi-chat-square-text">&nbsp;&nbsp;</i>業種を選択してください
            %div.col-10
              %div#selectedGyoshuTxt(style="font-size:0.9rem;")

          %div.row
            %div.col-12
              &nbsp;
          %div.row
            %hr
          %div.row
            %div.col-4.loadableTable#divMainLeftTop
            %div.col-4.loadableTable#divMainCenterTop
            %div.col-4.loadableTable#divMainRightTop
          %div.row
            &nbsp;
          %div.row
            %div.col-4.loadableTable#divMainLeftMiddle
            %div.col-4.loadableTable#divMainCenterMiddle
            %div.col-4.loadableTable#divMainRightMiddle
          %div.row
            &nbsp;
          %div.row
            %div.col-4.loadableTable#divMainLeftBottom
            %div.col-4.loadableTable#divMainCenterBottom
            %div.col-4.loadableTable#divMainRightBottom
          %div.row
            &nbsp;
          %div.row
            %div.col-4.loadableTable#divMainLeftBottom2
            %div.col-4.loadableTable#divMainCenterBottom2
            %div.col-4.loadableTable#divMainRightBottom2
          %div.row
            &nbsp;
          %div.row
            %div.col-4.loadableTable#divMainLeftBottom3
            %div.col-4.loadableTable#divMainCenterBottom3
            %div.col-4.loadableTable#divMainRightBottom3

      %div.tab-pane#profile-panel(role="tabpanel" aria-labelledby="profile-tab")

      %div.tab-pane#compare-panel(role="tabpanel" aria-labelledby="compare-tab")
        %div.row
          %div.col-md-1
          %div.col-md-6#divCompareRadar
            <canvas id="myChart" ></canvas>
          %div.col-md-2
            %div#legend-container.canvas-legend
          %div.col-md-3#divCompareRight

      %div.tab-pane#sokan-panel(role="tabpanel" aria-labelledby="sokan-tab")
        %div.row
          %div.col-md-12(style="display:flex")
            %div(style="width:5%; position:relative; top:3px; padding-left:20px")
              %span.badge.bg-primary(style="font-size:0.89rem")
                Ｘ軸
            %select#selScatterX.form-select.form-select-sm(aria-label=".form-select-sm example" style="height:30px; width:16%")
            %h3(style="position:relative; top:-5px; width:3%; text-align:center; color:#f36d84")
              ×
            %div(style="width:4%; position:relative; top:3px")
              %span.badge.bg-primary(style="font-size:0.89rem")
                Ｙ軸
            %select#selScatterY.form-select.form-select-sm(aria-label=".form-select-sm example" style="height:30px; width:16%")
            %h3(style="position:relative; top:-5px; width:3%; text-align:center; color:#f36d84")
              ×
            %div(style="width:4%; position:relative; top:3px")
              %span.badge.bg-primary(style="font-size:0.89rem")
                バブル
            %select#selScatterZ.form-select.form-select-sm(aria-label=".form-select-sm example" style="height:30px; width:16%")
        %div.row
          %div.col-md-10
            <canvas id="scatterChart" style="position: relative"></canvas>
          %div.col-md-2

      %div.tab-pane#mix-panel(role="tabpanel" aria-labelledby="mix-tab")
        %div.row
          %div.col-md-6
            %span.badge.bg-primary
              人口マップ
          %div.col-md-6
            %span.badge.bg-primary
              医療需給
        %div.row
          %div.col-md-6
            %canvas.#apiMixChart(style="position: relative")
          %div.col-md-6


      %div.tab-pane#report-panel(role="tabpanel" aria-labelledby="report-tab")
        %div.row
        
  %div.container-fluid.table-responsive#mainTableDiv

<!-- Modal -->
%div.modal.fade#modalExcelUpload(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalExcelUploadLabel" aria-hidden="true")
  %div.modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-xl
    %div.modal-content
      %div.modal-header
        %display-6.modal-title#modalExcelUploadLabel
          政府統計から公営企業の決算ファイルを収集します。
      %div.modal-body
        %div.row
          %div.col-8
            %button.btn.btn-sm.btn-primary#btnExecuteCollect(type="button")
              クロール開始
          %div.col-4
            %button.btn.btn-sm.btn-primary.float-end#btnExecuteImport(type="button")
              取込実行
        %div.row
          &nbsp;
        %div.row
          %div.loadableTable#tableFileCollectDiv

        %div.row
          &nbsp;

      %div.modal-footer
        %button.btn.btn-secondary(type="button" data-bs-dismiss="modal")
          キャンセル

<!-- 個別団体情報の表示モーダル -->
%div.modal.fade#modalDantaiProfile(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDantaiProfileLabel" aria-hidden="true")
  %div.modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-xl
    %div.modal-content
      %div.modal-header
        %display-6.modal-title#modalDantaiProfileLabel
          aaaaaa
      %div.modal-body
        %div.row
          %div.col-12#modalDantaiProfileLabel
        %div.row
          %div.col-10
          %div.col-2
            %div.row
              %div.col-12
            %div.row
              &nbsp;
            %div.row
              %div.col-12
                %div.col-12.table-responsive

      %div.modal-footer
        %button.btn.btn-secondary(type="button" data-bs-dismiss="modal")
          閉じる

<!-- Modal -->
%div.modal.fade#modalGraphHikaku(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalGraphHikakuLabel" aria-hidden="true")
  %div.modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-xl
    %div.modal-content
      %div.modal-header
        %display-6.modal-title#modalGraphHikakuLabel
          aaaaaa
      %div.modal-body
        %div.row
          %div.col-12#modalGraphHikakuLabel
        %div.row
          %div.col-10#divGraphHikakuArea
          %div.col-2
            %div.row
              %div.col-12
                %select#selTdfkSub.form-select.form-select-sm(aria-label=".form-select-sm example"  style="margin-top:10px")
                  %option(selected value="0")
            %div.row
              &nbsp;
            %div.row
              %div.col-12
                %div.col-12.table-responsive#tableDivHikakuCityList

      %div.modal-footer
        %button.btn.btn-secondary(type="button" data-bs-dismiss="modal")
          閉じる

<!-- Modal -->
%div.modal.fade#modalVersion(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalVersionLabel" aria-hidden="true")
  %div.modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-xl
    %div.modal-content
      %div.modal-header
        %div.display-6.modal-title#modalVersionLabel(style="font-size:18px; font-weight:bold;")
          更新履歴
      %div.modal-body
        %div.panel-body(style="overflow-y: scroll;height:400px;")
          %dl#versionNote

      %div.modal-footer
        %button.btn.btn-secondary(type="button" data-bs-dismiss="modal")
          閉じる

<!-- Modal -->
%div.modal.fade#modalSummary(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalSummaryLabel" aria-hidden="true")
  %div.modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-xl
    %div.modal-content
      %div.modal-header(style="padding:0.5rem 0.5rem")
        %div.col-4(style="font-size:18px; font-weight:bold;")
          <i class="bi bi-question-square-fill" style="padding-right:6px"></i>公営企業とは
        %div.col-8(style="font-size:18px; font-weight:bold;")
          <i class="bi bi-activity" style="padding-right:6px"></i>現在の登録データ数
      %div.modal-body(style="overflow-y: scroll;height:400px;")
        %div.row(style="position:relative; top:-5px")
          %div.col-4#modalBodySummaryDescription
          %div.col-4#modalBodySummary

          %div.col-4.loadableTable#modalBodySummaryDonuts
            <canvas id="donutsChart"></canvas>

      %div.modal-footer
        %button.btn.btn-secondary(type="button" data-bs-dismiss="modal")
          閉じる

<!-- Modal -->
%div.modal.fade#modalUse(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalUseLabel" aria-hidden="true")
  %div.modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-xl
    %div.modal-content(style="width:80%")
      %div.modal-header
        %div.col-6(style="font-size:18px; font-weight:bold;")
          <i class="bi bi-search" style="padding-right:6px"></i>企業を探す
        %div.col-6(style="font-size:18px; font-weight:bold; text-align:right")
          %a.btn.btn-sm.btn-primary#btnMapOn(role="button")
            地図から探す
      %div.modal-body.#mapAreaDiv(style="height:515px")
          

      %div.modal-footer
        %button.btn.btn-primary#btnTargetSelect(type="button")
          見る
        %button.btn.btn-secondary#btnCloseMapModal(type="button" data-bs-dismiss="modal")
          閉じる





<!-- offcanvas -->
%div.offcanvas.offcanvas-start#offcanvasSetting(tabindex="-1" aria-labelledby="offcanvasSettingLabel")
  %div.offcanvas-header
    %h5.offcanvas-title#offcanvasSettingLabel
      設定
    %button.btn-close.text-reset(type="button" data-bs-dismiss="offcanvas" aria-label="Close")
  %div.offcanvas-body
    %div.d-flex.align-items-start(style="height:100%")
      %div.nav.nav-pills#v-setting-tab(role="tablist" aria-orientation="vertical")
        %a.nav-link.active#vTabSetting-AA(data-bs-toggle="pill" data-bs-target="#v-setting-AA" type="button" role="tab" aria-controls="v-setting-AA" aria-selected="true")
          行列項目
        %a.nav-link#vTabSetting-BB(data-bs-toggle="pill" data-bs-target="#v-setting-BB" type="button" role="tab" aria-controls="v-setting-BB" aria-selected="false")
          動作設定
      %div.tab-content#v-setting-tabContent(style="width:100%; height:100%; border-left:1px solid #d3d3d3")
        %div.tab-pane.face.loadableTable.col-12.active#v-setting-AA(role="tabpanel" aria-labelledby="v-setting-AA-tab" style="")
          %div#v-setting-AACaption
          %div.table-responsive#tableDivSettingAA(style="width: 100%;")
            a
        %div.tab-pane.face.loadableTable.col-12#v-setting-BB(role="tabpanel" aria-labelledby="v-setting-BB-tab" style="")

%div#loading
  %div.spinner-border(role="status" style="position:relative; left:50%; top:50%; width: 6rem; height: 6rem;")

<div id="loader-bg" class="is-hide">
    <div id="loader" class="is-hide">
        <p>
            <img src="../static/image/loading.gif">
        </p>
    </div>
</div>

<!-- <div class="loadingDiv"></div> -->

{% endblock %}

{% block scripts %}
  <script src="../static/main/js/constants.js"></script>
  <script src="../static/main/js/versionHistory.js"></script>
  <script src="../static/main/js/indexes.js"></script>
  <script src="../static/main/js/mapHtml.js"></script>
  <script src="../static/main/js/main.js"></script>
{% endblock  %}


