{% extends 'common.html' %}
 
{% block title %}公営企業の経営診断{% endblock %}

{% block content %}

%div.container-fluid
  %div.row
    %div.col-7(style="display:flex; align-items:center")
      %img.img-responsive(src="../static/image/top_icon.png" style="margin-left:5px;margin-right:20px")
      %h2.display-5(style="float:left; margin-right:15px; font-size:3.8rem")
        DiAna
      %h6.lead(style="float:left; margin-right:15px")
        Diagnosis（診断） と Analysis（分析）のダイアナ。<br>
        公営企業を、<font>もっとおもしろく。</font>
        
    %div.col-4#areaSelectTarget(style="display:flex; align-items:center")

    %div.col-1
      %button.btn.btn-primary.btn-sm.float-end(type="button" data-bs-toggle="modal" data-bs-target="#modalExcelUpload" style="margin-top:10px")
        データ取込

  %div.row
    &nbsp;
    


  %div.row
    %ul.nav.nav-tabs.mb-3#dataTab(role="tablist")
      %li.nav-item(role="presentation")
        %a.nav-link.active#home-tab(data-bs-toggle="tab" data-bs-target="#home-panel" type="button" role="tab" aria-controls="home" aria-selected="true")
          <i class="bi bi-clouds-fill" style="margin-right:5px"></i>ダイジェスト
      %li.nav-item(role="presentation")
        %a.nav-link#profile-tab(data-bs-toggle="tab" data-bs-target="#profile-panel" type="button" role="tab" aria-controls="profile" aria-selected="true")
          <i class="bi bi-grid-fill" style="margin-right:5px"></i>基本情報
      %li.nav-item(role="presentation")
        %a.nav-link#transition-tab(data-bs-toggle="tab" data-bs-target="#transition-panel" type="button" role="tab" aria-controls="transition" aria-selected="true")
          <i class="bi bi-graph-up-arrow" style="margin-right:5px"></i>データ推移
      %li.nav-item(role="presentation")
        %a.nav-link#compare-tab(data-bs-toggle="tab" data-bs-target="#compare-panel" type="button" role="tab" aria-controls="compare" aria-selected="true")
          <i class="bi bi-images" style="margin-right:5px"></i>類似団体比較

    %div.tab-content#dataTabContent
      %div.tab-pane.active.show#home-panel(role="tabpanel" aria-labelledby="home-tab")
            
        %div.container-fluid#topPain
          %div.row
            %div.col-2
              %button.btn.btn-sm.btn-warning#selectGyoshuDigestTab(data-bs-toggle="popover" title="" data-bs-original-title="業種を選択してください" style="width:100%")
                <i class="bi bi-chat-square-text">&nbsp;&nbsp;</i>業種を選択してください
            %div.col-10
              %div#selectedGyoshuTxt(style="font-size:0.9rem;")

          %div.row
            %div.col-12
              &nbsp;
          %div.row
            %hr
          %div.row
            %div.col-4.loadableTable#divMainLeftTop
            %div.col-4.loadableTable#divMainCenterTop
            %div.col-4.loadableTable#divMainRightTop
          %div.row
            &nbsp;
          %div.row
            %div.col-4.loadableTable#divMainLeftMiddle
            %div.col-4.loadableTable#divMainCenterMiddle
            %div.col-4.loadableTable#divMainRightMiddle
          %div.row
            &nbsp;
          %div.row
            %div.col-4.loadableTable#divMainLeftBottom
            %div.col-4.loadableTable#divMainCenterBottom
            %div.col-4.loadableTable#divMainRightBottom
          %div.row
            &nbsp;
          %div.row
            %div.col-4.loadableTable#divMainLeftBottom2
            %div.col-4.loadableTable#divMainCenterBottom2
            %div.col-4.loadableTable#divMainRightBottom2
          %div.row
            &nbsp;
          %div.row
            %div.col-4.loadableTable#divMainLeftBottom3
            %div.col-4.loadableTable#divMainCenterBottom3
            %div.col-4.loadableTable#divMainRightBottom3


      %div.tab-pane#profile-panel(role="tabpanel" aria-labelledby="profile-tab")


      %div.tab-pane#transition-panel(role="tabpanel" aria-labelledby="transition-tab")
      %div.tab-pane#compare-panel(role="tabpanel" aria-labelledby="compare-tab")
        %div.row
          %div.col-md-6#divCompareRadar
            <canvas id="myChart" ></canvas>
          %div.col-md-3#divCompareCenter
          %div.col-md-3#divCompareRight





        
  %div.container-fluid.table-responsive#mainTableDiv

<!-- Modal -->
%div.modal.fade#modalExcelUpload(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalExcelUploadLabel" aria-hidden="true")
  %div.modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-xl
    %div.modal-content
      %div.modal-header
        %display-6.modal-title#modalExcelUploadLabel
          政府統計から公営企業の決算ファイルを収集します。
      %div.modal-body
        %div.row
          %div.col-8
            %button.btn.btn-sm.btn-primary#btnExecuteCollect(type="button")
              クロール開始
          %div.col-4
            %button.btn.btn-sm.btn-primary.float-end#btnExecuteImport(type="button")
              取込実行
        %div.row
          &nbsp;
        %div.row
          %div.loadableTable#tableFileCollectDiv

        %div.row
          &nbsp;

      %div.modal-footer
        %button.btn.btn-secondary(type="button" data-bs-dismiss="modal")
          キャンセル



<!-- 個別団体情報の表示モーダル -->
%div.modal.fade#modalDantaiProfile(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalDantaiProfileLabel" aria-hidden="true")
  %div.modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-xl
    %div.modal-content
      %div.modal-header
        %display-6.modal-title#modalDantaiProfileLabel
          aaaaaa
      %div.modal-body
        %div.row
          %div.col-12#modalDantaiProfileLabel
        %div.row
          %div.col-10
          %div.col-2
            %div.row
              %div.col-12
            %div.row
              &nbsp;
            %div.row
              %div.col-12
                %div.col-12.table-responsive

      %div.modal-footer
        %button.btn.btn-secondary(type="button" data-bs-dismiss="modal")
          閉じる



<!-- Modal -->
%div.modal.fade#modalGraphHikaku(data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalGraphHikakuLabel" aria-hidden="true")
  %div.modal-dialog.modal-dialog-centered.modal-dialog-scrollable.modal-xl
    %div.modal-content
      %div.modal-header
        %display-6.modal-title#modalGraphHikakuLabel
          aaaaaa
      %div.modal-body
        %div.row
          %div.col-12#modalGraphHikakuLabel
        %div.row
          %div.col-10#divGraphHikakuArea
          %div.col-2
            %div.row
              %div.col-12
                %select#selTdfkSub.form-select.form-select-sm(aria-label=".form-select-sm example"  style="margin-top:10px")
                  %option(selected value="0")
            %div.row
              &nbsp;
            %div.row
              %div.col-12
                %div.col-12.table-responsive#tableDivHikakuCityList

            

      %div.modal-footer
        %button.btn.btn-secondary(type="button" data-bs-dismiss="modal")
          閉じる


%div#loading
  %div.spinner-border(role="status" style="position:relative; left:50%; top:50%; width: 6rem; height: 6rem;")

<div id="loader-bg" class="is-hide">
    <div id="loader" class="is-hide">
        <p>
            <img src="../static/image/loading.gif">
        </p>
    </div>
</div>

<!-- <div class="loadingDiv"></div> -->

{% endblock %}

{% block scripts %}
  <script src="../static/main/js/main.js"></script>
  <script src="../static/main/js/indexes.js"></script>
{% endblock  %}


